@tailwind base;
@tailwind components;
@tailwind utilities;

.type-normal {
    background: rgb(168,168,120);
    color: white;
  }
  
  .type-fire {
    background: rgb(242,148,69);; 
    color: white;
  }
  
  .type-water {
    background: rgb(72,106,227);   
    color: white;
  }

  .type-grass {
    background: rgb(72,208,176);
    color: white;
  }

  .type-electric {
    background: rgb(233,211,61); 
    color: white;
  }

  .type-bug {
    background: rgb(89,207,125);
    color: white;
  }

  .type-poison {
    background: rgb(231,139,217);
    color: white;
  }

  .type-ground {
    background: #8d8732;
    color: white;
  }
  
  .type-psychic {
    background: rgb(255,100,238);
    color: white;
  }

  .type-fighting {
    background: rgb(255,123,56); 
    color: white;
  }

  .type-default {
    background: rgb(166,173,211);
    color: white;
  }
  
  /* badge pagina pokemon */
  span.badge-fire {
    background: #fdedd7 !important;
    color:#f29445 !important ;
  }

  span.badge-grass {
    background: #cef9eb !important;
    color:#48d0b0 !important ;
  }

  span.badge-normal {
    background: #eae9dd !important;
    color:#abab7c !important ;
  }

  span.badge-water {
    background: #dee5fb !important;
    color:#6f93eb !important ;
  }

  span.badge-bug{
    background: #dff9e6 !important;
    color:#59cf7d !important ;
  }

  span.badge-poison {
    background: #fcebfb !important;
    color:#e78bd9 !important ;
  }

  span.badge-electric  {
    background: #f9f9c8 !important;
    color:#e9d33d !important ;
  }

  span.badge-ground {
    background: #f1edd6 !important;
    color:#bfb55c !important ;
  }

  span.badge-psychic {
    background: #ffe7fd !important;
    color:#ff64ee !important ;
  }

  span.badge-fighting {
    background: #ffe8d4 !important;
    color:#ff7b38 !important ;
  }

  span.badge-default {
    background: #eaedf5 !important;
    color:#a6add3 !important ;
  }

  

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  